<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace：此时用mapper代理方式，它的值必须等于对应mapper接口的全限定名  -->
<mapper namespace="me.funmap.dao.interfaces.UserMapper">
   <!--get a User by id-->
    <select id="getUser" parameterType="Long" resultType="me.funmap.model.User">
        SELECT * FROM User WHERE id = #{id} AND is_deleted = 0
    </select>

   <!--get all Users-->
     <select id="getAll"  resultType="me.funmap.model.User">
        SELECT * FROM User where is_deleted = 0
    </select>

    <!--register a new user-->
    <insert id="registerUser"  parameterType="me.funmap.model.User">
        INSERT INTO USER(id,user_name,pass_word) VALUES (#{id},#{userName},#{passWord}
    </insert>

   <!--update a current user -->
   <update id="updateUser" parameterType="me.funmap.model.User">
       UPDATE User
          SET user_name = #{userName}, pass_word = #{passWord}
          WHERE id = #{id} And is_deleted != 1;
   </update>

    <delete id="deleteUser" parameterType="Long">
        UPDATE User
          SET is_deleted = 1
          where id = #{id};
    </delete>

</mapper>